
.searchbar {
    top: auto;
    left: auto;
    height: 50px;
    width: auto;
    background-color: black;
}





.home {
    margin-top: 15px;
    margin-left: 5px;
    height: 35px;
    width: 190px;
}

.trending {
    margin-top: 15px;
    margin-left: 5px;
    height: 35px;
    width: 190px;
}

.download {
    margin-top: 15px;
    margin-left: 5px;
    height: 35px;
    width: 190px;
}

.channel {
    margin-top: 15px;
    margin-left: 5px;
    height: 35px;
    width: 190px;
}

.logout {
    margin-top: 15px;
    margin-left: 5px;
    height: 35px;
    width: 190px;
}

.searchbtn {
    margin-top: 0px;
    left: auto;
    height: 30px;
    width: 30px;
}



.iconbtn {
    margin-top: 0px;
    margin-left: 200px;
    height: 35px;
    width: 35px;
}

.data {
    margin-left: 205px;
}

.v1 {
    width: 201px;
    height: inherit;
    float: left;
}

.v2{
    float:left;
    background-color:black;
}
.auto-style13{
    border-color:whitesmoke;
    border-width:medium;
}
.likestyle{
    margin-top:10px;
}
.v3{
    float:right;
}
